$white-color: #fff;
$gray-color: #f2f2f2;
$light-red-color: #E4033B;
$light-green-color: #39CDCC;
$auth-header-text-color: #213F7D;
$auth-header-sub-text-color: #545F7D;
$inputWidth: 447px;
$inputHeight: 50px